/*
body {
	margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: "Apple TP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; font-size: 14px; 
        //background-color: rgb(255, 255, 255); 
        -webkit-text-size-adjust: none;
}
*/

body div {
	margin: auto; text-align: left;
}
img {
	
}
a {
	
}
table {
	border-collapse: collapse; border-spacing: 0;
}
tr {
	
}
td {
	padding: 7px; -ms-word-break: break-all; empty-cells: show;
}
.headerFix td {
	padding: 0px; vertical-align: middle;
}
table.fix td {
	padding: 1px; empty-cells: show;
}
th {
	padding: 10px; empty-cells: show;
}
table.fix th {
	padding: 1px; empty-cells: show;
}
input {
	padding: 3px;
}
label.select:hover {
	background-color: rgb(255, 255, 153);
}
fieldset {
	border-radius: 0.5em; background-color: rgb(238, 238, 255);
}
legend {
	color: rgb(85, 85, 85); font-size: 14px; font-weight: bold;
}
legend span {
	color: rgb(0, 0, 255); font-size: 14px; font-weight: normal; text-decoration: underline; cursor: pointer;
}
.wsTxt {
	color: rgb(170, 170, 170); padding-left: 5px; background-color: rgb(224, 255, 255);
}
.footerA:link {
	text-decoration: none;
}
.footerA:hover {
	text-decoration: none;
}
.footerA:active {
	text-decoration: none;
}
.footerA:visited {
	text-decoration: none;
}
.commandBack {
	background: rgb(238, 238, 238);
}
.commandBack2 {
	background: rgb(150, 150, 150);
}
.commandBack2:hover {
	background: rgb(200, 200, 200);
}
.commandBack td {
	padding: 5px;
}
.updnWatermark {
	padding: 7px 3px 3px; color: rgb(187, 187, 187);
}
input[type='text']:focus {
	background-color: rgb(255, 255, 153);
}
textarea:focus {
	background-color: rgb(255, 255, 153);
}
select:focus {
	background-color: rgb(255, 255, 153);
}
thead input {
	width: 80%;
}
input.search_init {
	color: rgb(153, 153, 153);
}
table.dataTable {
	border-top-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; table-layout: fixed;
}
table.dataTable td {
	border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
dataTable th {
	border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.datatables-top {
	text-align: center; background-color: rgb(221, 255, 221);
}
.datatables-odd {
	background-color: rgb(255, 255, 255);
}
.datatables-even {
	background-color: rgb(238, 238, 238);
}
.datatables-odd:hover td {
	background: rgb(255, 255, 204);
}
.datatables-even:hover td {
	background: rgb(255, 255, 204);
}
.datatables-odd td.sorting_1 {
	background-color: rgb(221, 221, 221);
}
.datatables-even td.sorting_1 {
	background-color: rgb(204, 204, 204);
}
.dataTables_info strong {
	color: red;
}
.dataTables_paginate a {
	padding: 5px;
}
.fg-toolbar {
	padding: 5px;
}
th.ui-widget-header {
	height: 30px;
}
th.ui-state-default {
	height: 30px;
}
.datatables-new td {
	background-color: yellow;
}
